
  @import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

  $colors: #FFF, #FFF, #FFF, #FFF, #FFF;
  
 .promo {
    padding-top: 30px; 
    background: linear-gradient(-45deg, #fff, #0db5ef);
    font: 16em/1 Comfortaa;
  }
  
  .text--line {
    text-shadow: purple 0 0 20px;
    font-size: .5em;
    }
  
  svg {
    
    width: 60%;
    height: 80%;
    }
  
  $max: 5;
  $stroke-step: 7%; 
  .text-copy {
    fill: none;
    stroke: red;
    stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
    stroke-width: 6px;
    
    animation: stroke-offset 5s 3s linear;
    
    @for $item from 1 through $max {
      $stroke-color: nth($colors, $item);
      
      &:nth-child(#{$item}) {
        stroke: $stroke-color;
        stroke-dashoffset: $stroke-step * $item;
        }
      }
    }
  
  @keyframes stroke-offset {
    50% {
      stroke-dashoffset: $stroke-step * $max;  
      stroke-dasharray: 0 $stroke-step * $max*2.5;
    }
  }
  

#container {
  margin: 0 auto;  
  color:#999;
  text-transform: uppercase;
  font-size:50px;
  padding-top:200px;  
  position:fixed;
  width:100%;
  left: 65%;
  bottom:45%;
  display:block;
}

#flip {
  font: Comfortaa;
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:2px 19px;
  height:60px;
  margin-bottom:35px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background: orange;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}