* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}




@import 'variables/_variables';
@import 'blocks/_header';
@import 'blocks/_button';
@import 'blocks/_header';
@import 'blocks/_promo';
